version: '3'

services:
  blaybum-web:
    container_name: blaybum-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
